<div>
  <%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
    <div>
      <%= f.input :caption %>
      <%= f.input :picture %>
    </div>
    <div>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <%= f.submit "Add a Photo", class: 'btn btn-primary' %>
    </div>
<% end %>
</div>